*,
*::before,
*::after {
  box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    font-family: 'Roboto', 'Raleway', serif;
    list-style-type: none;
}

button {
    cursor: pointer;
}

:root {
    --globalActiveColor: rgb(33, 150, 243);
}


.container {
    width: 1200px;
    margin: 0 auto;
}


/*--------------------------------------------------------------HEADER-------------------------------------------------------------*/
.header {
    display: flex;
    height: 80px;
}

.header-logo {
    display: flex;
    align-items:center;
    padding-left: 15px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--globalActiveColor);
}

.header-list {
    display: flex;
    align-items: center;
    padding-left: 93px;
    height: 80px;
}

.header-item {
    display: inline-block;
    list-style-type: none;
    
}

.header-item:not(:last-child) {
    margin-right: 53px;
}

.header-info {
    display: flex;
    align-items: center;
    padding-left: 344px;
}

.header-href {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    font-style: normal;
}

.header-href:not(:last-child) {
    margin-right: 51px;
}

header a {
    text-decoration: none;
    list-style-type: none;
}

header a:hover,
header a:focus {
    color: var(--globalActiveColor);
}



.logo-web {
    color: var(--globalActiveColor);
}

.logo-studio {
    color: black;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}





/*----------------------------------------------------------------MAIN------------------------------------------------------------*/

.hero-container{
    background: #2F303A;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    height: 600px;
}

.hero-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 215px;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2196F3;
    color: white;
    margin-top: 44px;
    border: 0px;
    height: 50px;
    width: 216px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    border-radius: 4px;
}


/*---------------------------------------------------------------------------------------------------------------------------------*/


.main-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 286px;
    outline: 2px solid red;
}

.main-list {
    display: flex;
    justify-content: center;
    width: 1170px;
    align-items: center;
    outline: 2px solid red;
}

.main-ithem {
    display: flex;
    flex-direction: column;
    align-items: left;
    outline: 2px solid red;
}

.main-ithem:not(:last-child) {
    margin-right: 50px;
}


.main-ithem-haeder {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}


.main-ithem-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}



.main-ithem-haeder {
    font-style: normal;
}


/*---------------------------------------------------------------------------------------------------------------------------------*/

.header-about {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.ithem-team-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.ithem-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}



/*-----------------------------------------------------------Portfolio------------------------------------------------------------*/
.style-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.style-btn:hover {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.orient-btn {
    display: inline-block;
}


.products-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.about-product {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

.style-ithem-portf {
    list-style-type: none;
}

.style-ithem-fspg {
    list-style-type: none;
}

/*--------------------------------------------------------FOOTER---------------------------------------------------------------------*/

.footer {
    background-color: #2F303A;
}

.footer a {
    text-decoration: none;
}

.footer a:hover,
.footer a:focus {
    color: var(--globalActiveColor);
}

.address-map {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: normal;
}


.style-footer {
    list-style-type: none;
}

.footer-href {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}